<ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/vehicles']" href="#">vehicles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" *ngIf="isAdmin" [routerLink]="['/newuser']" >New User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/newteam']" *ngIf="isAdmin"  href="#">New Team</a>
        </li>
       
    </ul>